html, body {
	margin: 0;
	padding: 0;
}

.o-techdocs-hero {
	margin: 0;
}

.o-techdocs-hero__title {
	margin: 10px 0;
}

.title-bar h2 {
	display: inline-block;
	width: 85%;
	margin: 0;
}

.status li[role="tab"] a{
	text-transform: uppercase;
}

.status-overview {
	display: flex;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}

.status-overview__item {
	list-style-type: none;
	margin: 0;
	padding: 5px;
	flex-grow: 1;
	text-align: center;
	border:1px solid;
}

.status--up {
	background-color:#a1dbb2;
	color: #09a25c;
	border-color:#09a25c;
	text-align: center;
}

.status--down {
	background-color: #ebbcb3;
	color: #cc0033;
	border-color: #cc0033;
	text-align: center;
}

.status__node-status {
	max-width: 500px;

	th {
		width: 25%;
		text-align: left;
	}
}

.app-section {
	margin-bottom: 1.5em;
}

.status__node-actions {
	margin: 10px 0;
	display: flex;
	align-items: flex-start;
}

.status__node-actions button {
	margin-right: 10px;
}
