$status-colors: (
	error: (#ebbcb3,  #cc0033),
	warning: (lighten(#eda45e, 20), #d66d06),
	problem: (lighten(#ffe500, 30), darken(#ffe500, 20)),
	ok: (#a1dbb2, #09a25c)
);

@function status-color($status-name, $use-case){
	$status: map_get($status-colors, $status-name);
	@if($use-case == 'background'){
		@return nth($status, 1);
	}

	@if($use-case == 'text'){
		@return nth($status, 2);
	}
}

@mixin status($status){
	background-color: status-color($status, 'background');
	color: status-color($status, 'text') !important;
	border-color: status-color($status, 'text');
}

html, body {
	margin: 0;
	padding: 0;
}

section {
	margin-bottom: 10px;
}

.o-techdocs-hero {
	margin: 0;
}

.o-techdocs-hero__title {
	margin: 10px 0;
}

.title-bar {
	margin-bottom: 10px;
}

.title-bar h2 {
	margin: 0;
}

table {
	width: 100%;
}

button a {
	text-decoration: none;

	&:after {
		content: ' →';
	}
}

li[role="tab"] a{
	text-transform: uppercase;
}

.status-overview {
	display: flex;
	margin: 0;
	padding: 0;
	margin-bottom: 10px;
}

.status-overview__item {
	list-style-type: none;
	margin: 0;
	padding: 5px;
	flex-grow: 1;
	text-align: center;
	border:1px solid;
}

.status--up {
	@include status('ok');
}

.status--problem {
	@include status('problem');
}

.status--warning {
	@include status('warning');
}

.status--down {
	@include status('error');
}

.status__node-status {
	max-width: 500px;

	th {
		width: 25%;
		text-align: left;
	}
}

.app-section {
	margin-bottom: 1.5em;
}

.status__node-actions {
	margin: 10px 0;
	display: flex;
	justify-content: space-around;
}

.o-tabs__tabpanel {
	padding: 10px;
	background-color: #fdf8f2;
	border: 1px solid #505050;
}

.metric-data .metric-data__value--ok {
	color:status-color('ok', 'text');
}

.metric-data .metric-data__value--warning {
	color:status-color('warning', 'text');
}

.metric-data .metric-data__value--error {
	color:status-color('error', 'text');
}

.action--scale-up:after {
	content: ' ↑';
}

.action--scale-down:after {
	content: ' ↓';
}

.loading {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.7);
	align-items: center;
	justify-content: center;
	display: none;
}

.loading--visible {
	display: flex;
}
