<header data-o-component="o-techdocs-header" class="o-techdocs-header">
	<div class="o-techdocs-header__container">
		<div class="o-techdocs-header__primary">
			<div class="o-techdocs-header__primary__left">
				<a class="o-techdocs-header__logo" href="/">
					<h1 class="o-techdocs-header__title">FT.com Mission Control</h1>
				</a>
			</div>

			<nav class="o-techdocs-header__primary__right o-hierarchical-nav o-techdocs-header__nav--primary-theme" data-o-component="o-hierarchical-nav">
			</nav>
		</div>
	</div>
</header>
