
<section class="app-section info">
	<div class="title-bar">
		<h2>Info</h2>
		</div>
			<div class="o-techdocs-table-wrapper">
				<table>
					<tbody>
					<tr>
						<th scope="row">Tier</th>
						<td class="info__tier info__tier--{{tier}}">{{tier}}</td>
					</tr>
					<tr>
						<td colspan="2"><a target="_blank" href="{{repo}}">View code on Github</a></td>
					</tr>
					<tr>
						<td colspan="2"><a target="_blank" href="{{heroku}}">Heroku dashboard</a></td>
					</tr>
					</tbody>
				</table>
			</div>


			<h4>Nodes</h4>
			<div class="o-techdocs-table-wrapper">
				<table>
					<tbody>
					{{#each nodes}}
					<tr>
						<th scope="row">REGION</th>
						<td>{{region}}</td>
					</tr>
					<tr>
						<th scope="row">URL</th>
						<td>{{url}}</td>
					</tr>
					<tr>
						<th scope="row">ID</th>
						<td>{{id}}</td>
					</tr>
					{{/each}}
					</tbody>
				</table>

			</div>

		</div>
</section>
