
<section class="info">
	<div data-o-component="o-expander" class="o-expander" data-o-expander-shrink-to="hidden">
	<div class="title-bar">
		<h2>Info</h2>
		<a href="#" class="o-expander__toggle o--if-js">Show</a>
	</div>
		<div class="o-expander__content">
			<table>
				<tbody>
				<tr>
					<th scope="row">Tier</th>
					<td class="info__tier info__tier--{{tier}}">{{tier}}</td>
				</tr>
				<tr>
					<td colspan="2"><a target="_blank" href="{{repo}}">View code on Github</a></td>
				</tr>
				<tr>
					<td colspan="2"><a target="_blank" href="{{heroku}}">Heroku dashboard</a></td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
