
<section class="app-section info">
	<div data-o-component="o-expander" class="o-expander" data-o-expander-shrink-to="hidden">
	<div class="title-bar">
		<h2>Info</h2>
		<a href="#" class="o-expander__toggle o--if-js">Show</a>
	</div>
		<div class="o-expander__content">
			<table>
				<tbody>
				<tr>
					<th scope="row">Tier</th>
					<td class="info__tier info__tier--{{tier}}">{{tier}}</td>
				</tr>
				<tr>
					<td colspan="2"><a target="_blank" href="{{repo}}">View code on Github</a></td>
				</tr>
				<tr>
					<td colspan="2"><a target="_blank" href="{{heroku}}">Heroku dashboard</a></td>
				</tr>
				</tbody>
			</table>

			<h4>Nodes</h4>
			<table>
				<tbody>
					{{#each nodes}}
						<tr>
							<th scope="row">REGION</th>
							<td>{{region}}</td>
						</tr>
						<tr>
							<th scope="row">URL</th>
							<td>{{url}}</td>
						</tr>
						<tr>
							<th scope="row">ID</th>
							<td>{{id}}</td>
						</tr>
					{{/each}}
				</tbody>
			</table>

		</div>
	</div>
</section>
