<section class="app-section status">
	<div class="title-bar">
		<h2>Status</h2>
	</div>

	<div class="status-overview__container">
		<ul class="status-overview">
			<li class="status-overview__item status--{{#if up}}up{{else}}down{{/if}}">
				{{#if up}}UP{{else}}DOWN{{/if}}
			</li>
			<li class="status-overview__item status--{{healthStatus}}">
				{{#if healthy}}HEALTHY{{else}}UNHEALTHY{{/if}}
			</li>
		</ul>
		{{#each messages}}
		<ul class="status-overview">
			<li class="status-overview__message status-overview__item status--{{this.status}}">
				Region: {{this.region}}. {{this.text}}
			</li>
		</ul>
		{{/each}}
	</div>

	{{#with lastRelease}}
		<div class="status-last-release">
			<p>Last deploy was {{#if commitUrl}}<a target="_blank" href="{{commitUrl}}">{{hash}}</a>{{else}} "{{description}}" {{/if}} on {{date}}
				{{#if commitUrl}}
					<button class="o-buttons js-api action--rollback" data-method="POST" data-action="{{rollbackUrl}}">Rollback to here</button>
				{{/if}}

			</p>
			<p><a href="#release-history">More releases</a></p>
		</div>
	{{/with}}



	<ul data-o-component="o-tabs" class="o-tabs o-tabs--big o-tabs--buttontabs" role="tablist">
		{{#each nodes}}
		<li role="tab"><a href="#appRegion{{region}}">{{region}}</a></li>
		{{/each}}
	</ul>

	{{#each nodes}}
		<div id="appRegion{{region}}" class="o-tabs__tabpanel">
			<div class="o-techdocs-table-wrapper">
				<table class="status__node-status">
					<tr>
						<td colspan="2">{{url}}</td>
					</tr>
					<tr>
						<th scope="row"><a href="{{url}}/__gtg">GTG</a></th>
						<td class="{{#if up}}status--up{{else}}status--down{{/if}}">{{#if up}}UP{{else}}DOWN{{/if}}</td>
					</tr>
					<tr>
						<th scope="row"><a href="{{url}}/__health">HEALTH</a></th>
						<td class="status--{{health.status}}">{{health.statusText}}</td>
					</tr>
				</table>
			</div>

			<h3>Scaling</h3>
			<div class="o-techdocs-table-wrapper">
				<table>
					<tr>
						<th scope="row">Initial Scale *</th>
						<td>{{scale.initial.quantity}} X {{scale.initial.size}}</td>
					</tr>
					<tr>
						<th scope="row">Current Scale</th>
						<td><span id="js-current-scale-quantity">{{scale.current.quantity}}</span> X <span id="js-current-scale-size">{{scale.current.size}}</span></td>
					</tr>
					<tr>
						<td><button class="o-buttons js-api action--scale-up" data-method="POST" data-action="/vertical-scale/up/{{name}}">Bigger Dynos</button></td>
						<td><button class="o-buttons js-api action--scale-up" data-method="POST" data-action="/horizontal-scale/up/{{name}}">More Dynos</button></td>

					</tr>
					<tr>
						<td><button class="o-buttons js-api action--scale-down" data-method="POST" data-action="/vertical-scale/down/{{name}}">Smaller Dynos</button></td>
						<td><button class="o-buttons js-api action--scale-down" data-method="POST" data-action="/horizontal-scale/down/{{name}}">Less Dynos</button></td>
					</tr>
				</table>

				<small>* This is the setting in the registry.  App will return to this setting on deploy</small>
			</div>

			<div class="status__node-actions">
				<button class="o-buttons js-api" data-method="POST" data-action="/scale-to-zero/{{name}}" data-confirm="This will effectively switch this app off - are you sure?">Scale down to 0</button>
				<button class="o-buttons js-api" data-method="POST" data-action="/restore-scale/{{name}}">Restore to initial scale</button>
			</div>

		</div>
	{{/each}}

</section>
