<main>
	<!-- Hero banner to promote your service in a few words -->
	<div class="o-techdocs-hero">
		<h1 class="o-techdocs-hero__title">{{info.title}}</h1>
	</div>

	<!-- Navigation menu and main content -->
	<div class="o-techdocs-container">
		<div class="o-techdocs-layout">

			<!-- Main content (outer div for layout, inner for formatting) -->
			<div class="o-techdocs-main">
				<div class="o-techdocs-content">
					{{>status status}}
					{{>metrics metrics}}
					{{>info info}}


				</div> <!-- /o-techdocs-content -->

			</div>

		</div> <!-- /.o-techdocs-layout -->
	</div> <!-- /.o-techdocs-container -->
</main>

