<main>
	<!-- Hero banner to promote your service in a few words -->
	<div class="o-techdocs-hero">

	</div>

	<!-- Navigation menu and main content -->
	<div class="o-techdocs-container">
		<div class="o-techdocs-layout">

			<div class="o-techdocs-sidebar">
				<ul class="o-techdocs-nav">
					{{#each apps}}
						<li><a href="/{{name}}">{{title}}</a></li>
					{{/each}}
				</ul>
			</div>

			<!-- Main content (outer div for layout, inner for formatting) -->
			<div class="o-techdocs-main">
				<div class="o-techdocs-content">


				</div> <!-- /o-techdocs-content -->

			</div>

		</div> <!-- /.o-techdocs-layout -->
	</div> <!-- /.o-techdocs-container -->
</main>
