<main data-page="home">
	<!-- Hero banner to promote your service in a few words -->
	<div class="o-techdocs-hero">

	</div>

	<!-- Navigation menu and main content -->
	<div class="o-techdocs-container">
		<div class="o-techdocs-layout">

			<!-- Main content (outer div for layout, inner for formatting) -->
			<div class="o-techdocs-main">
				<div class="o-techdocs-content">
					<h2>Apps</h2>

					<div class="o-techdocs-table-wrapper applist applist--main">
						<div class="applist">
							{{#each mainApps}}
								<div class="applist__item" data-appname="{{name}}">
									<div class="applist__info">
										<span class="applist__status applist__status--waiting"></span>
										<h4 class="applist__title">{{title}}</h4>
										<span class="applist__link">
										<button class="o-buttons"><a href="/{{name}}">Details</a></button>
									</span>
									</div>
									<ul class="applist__messages">

									</ul>
								</div>
							{{/each}}
						</div>
					</div>

					<h3>Other Apps</h3>
					<p>Click through for status.  This is list is not currated and many of these links will not work!</p>
					<div class="o-techdocs-table-wrapper applist applist--other">
						<div class="applist">
							{{#each otherApps}}
							<div class="applist__item" data-appname="{{name}}">
								<div class="applist__info">
									<h4 class="applist__title">{{name}}</h4>
									<span class="applist__link">
										<button class="o-buttons"><a href="/{{name}}">Details</a></button>
									</span>
								</div>
							</div>
							{{/each}}
						</div>
					</div>

				</div> <!-- /o-techdocs-content -->

			</div>

		</div> <!-- /.o-techdocs-layout -->
	</div> <!-- /.o-techdocs-container -->
</main>
