<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://build.origami.ft.com/v2/bundles/css?modules=o-techdocs@^6.1.2,o-tabs@^2.3.5,o-expander@^4.2.0,o-buttons@^4.4.1,o-loading@^1.0.0-beta.1" />
	<link rel="stylesheet" href="/styles.css" />
	<script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
	<title>FT.com Mission Control</title>
</head>
<body class="o-colors-page-background o-colors-page-text o-techdocs">

	{{> header }}

	{{{body}}}

	{{> footer }}

	<script src="https://build.origami.ft.com/v2/bundles/js?modules=o-techdocs@^6.1.2,o-tabs@^2.3.5,o-expander@^4.2.0"></script>
	<script src="/main.js"></script>
</body>
</html>
